[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
behave-pandas = "*"
ipykernel = "*"

[dev-packages]
flake8 = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"
pipenv-setup = "*"
setuptools = "*"
wheel = "*"
behave = "*"
pandas = "*"

[requires]
python_version = "3.9"
